@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*
{padding: 0;
margin: 0;
box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
li,
figure,


body {
    font-family: 'Abril Fatface', serif;
    line-height: 1.6;
}

header {
    display: flex;
    font-size: 1rem;
    background: linear-gradient(to top, #1C2755, #19641F, #E5DD4C);
    color: white;
    text-align: center;
    padding: 20px 0;
    justify-content: space-around;

}

h1 {
   
    font-family: 'Abril Fatface', serif;
}

nav {
    margin-top: 20px;
    
}

.menu {
    list-style: none;
    
}

.menu li {
    font-size: 0.9rem;
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.main {
    max-width: 800px;
    margin: 20px auto;
}

#subtitle{
    font-size: 1.5rem;
    padding-top: 50px;
    text-align: center;
    
}
/* Adicione outros estilos conforme necessário */
footer {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}